{% extends 'base.html.twig' %}

{% block title %}Gérer les villes{% endblock %}

{% block body %}
    <div class="Page container">
    <div class="jumbotron mt-2">
    <h1>Gérer les villes</h1>
{{ form_start(form) }}

        {{ form_end(form) }}
    </div>
    </div>
{% endblock %}